# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
